.countryTitle {
  font-size: 30px;
  font-weight: 700;

  margin-bottom: 15px;
}

.countryFlag {
  border-radius: 10px;
  max-width: 50%;
}

.contentWrapper {
  display: flex;
  gap: 10px;
}

.infoWrapper {
  background-color: #a6adcd;
  padding: 10px;
  border-radius: 8px;
  width: 200px;
  min-width: 50%;
  flex-shrink: 0;

  font-size: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navItem {
  margin-top: 40px;
  margin-bottom: 40px;
}
